{% extends "cabserv/layouts/main.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static "css/bookcab.css" %}">{% endblock style %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Book a Ride
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered border-primary">
                    <div class="form-group">    
                        <tr>
                            <th>Cab :</th>
                            <td>{{form.cab}}</td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <th>Select Pickup Slot</th>
                            <td>{{form.pickup_slot}}</td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <th>Select Return Slot</th>
                            <td>{{form.return_slot}}</td>
                        </tr>
                    </div>
                </table>
                <input type="submit" value="Book Ride" class="btn btn-primary button">
                <span>{{msg}}</span>
            </form>
        </div>
    </div>
</div>
{% endblock content %}